/*
🟡 [important] Consider using css variables 
for colors, spacing, and other design tokens. This allows for easier theming and maintenance. 
Also, create more global styles for common elements (typography or animations, etc.) to ensure consistency across the app.
*/

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --border: #422924e2;
  --highlight: #ffd895;
  --radius: 16px;
  --gap: 12px;
}

body {
  display: flex;
  min-height: 100vh;
  margin: 0;
  background: url("https://github.com/felesef/Ka-Mon-Games-FlipCard/blob/user-interface-imgs/background.png?raw=true")
    center / cover no-repeat fixed;
  padding-top: auto;
}

.container {
  display: flex;
  padding: 18px 28px 10px;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  max-width: 1000px;
  margin: 0 auto;
  width: 100%;
}
