/*
🟡 [important] Consider using css variables 
for colors, spacing, and other design tokens. This allows for easier theming and maintenance. 
Also, create more global styles for common elements (typography or animations, etc.) to ensure consistency across the app.
*/
/* → Fix will be applied in the next PR. */

:root {
  --border: #422924e2;
  --highlight: #ffd895;
  --radius: 16px;
  --gap: 12px;

  --space-sm: 12px;
  --space-md: 16px;
  --space-lg: 24px;

  --container-width: 1000px;
}

body {
  display: flex;
  min-height: 100vh;
  margin: 0;
  background: url("../../images/homepage/background.png") center / cover
    no-repeat fixed;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: var(--container-width);
  margin: 0 auto;
  padding: 18px var(--space-lg) 10px;
  gap: var(--space-md);
}
