.controls {
  display: flex;
  gap: 12px;
  margin-top: 8px;
}

.button {
  padding: 10px 24px;
  font-size: 16px;
  border-radius: 12px;
  border: none;
  background-color: #532ec1;
  color: #080547;
  cursor: pointer;
  font-weight: bold;
}

.button:hover {
  opacity: 0.9;
}
