.header {
  text-align: center;
  margin-bottom: 25px;
  border-radius: 25px;
  background-color: #532ec1;
}

.header h1 {
  color: #080547;
  font-size: 36px;
  padding: 20px;
  margin: 0;
}

.game-area {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  width: 100%;
}
