.stats-container {
  display: flex;
  width: 100%;
  justify-content: space-between;
  flex-wrap: wrap;
  background: #422924e2;
  border-radius: 16px;
}

.stats-container .status-label,
.stats-container .status-value {
  color: #ffd895;
  background: transparent;
}

.status {
  display: flex;
  align-items: center;
  gap: 8px;
}

.status-value,
.status-label {
  font-size: 18px;
  color: #ffd895;
  margin: 10px;
  padding: 10px 20px;
  background-color: #422924e2;
  border-radius: 25px;
}
