.stats-container {
  display: flex;
  width: 100%;
  justify-content: space-between;
  flex-wrap: wrap;
  background: var(--border);
  border-radius: var(--radius);
}

.stats-container .status-label,
.stats-container .status-value {
  color: var(--highlight);
  background: transparent;
}

.status {
  display: flex;
  align-items: center;
  gap: 8px;
}

.status-value,
.status-label {
  font-size: 18px;
  color: var(--highlight);
  margin: 10px;
  padding: 10px 20px;
  background-color: var(--border);
  border-radius: 25px;
}
